name: free_github
on:
  workflow_dispatch:
    inputs:
      configName:
        description: 'name'
        required: false
        default: ''
        type: choice
        options:
        - ''
        - 'gitCode'
        - 'gitIssue'

jobs:
  free_github:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        index: [0, 1]

    steps:
      - uses: actions/checkout@v4
        with:
          ref: master
          repository: tiechui1994/free
          token: ${{secrets.GIT_TOKEN}}
          path: ./action
      - name: Only execute ${{ github.event.inputs.configName }}
        uses: ./action/action/github
        if: ${{ github.event.inputs.configName != '' && matrix.index == 0 }}
        with:
          config: ${{secrets.CONFIG_GITHUB}}
          endpoint: ${{secrets.ENDPOINT}}
          count: 1
          index: 0
          configName: ${{ github.event.inputs.configName }}
      - name: Execute all 
        uses: ./action/action/github
        if: ${{ github.event.inputs.configName == '' }}
        with:
          config: ${{secrets.CONFIG_GITHUB}}
          endpoint: ${{secrets.ENDPOINT}}
          count: 2
          index: ${{matrix.index}}
          configName: ${{ github.event.inputs.configName }}
