name: libc
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'libc version'
        required: true
        default: '2.28'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [linux/amd64]
        os: [18.04]

    steps:
    - name: Checkout
      timeout-minutes: 1
      uses: actions/checkout@v3
      with:
        persist-credentials: false

    - name: Setup
      uses: docker/setup-buildx-action@v2
      with:
        install: true

    - name: Build with ubuntu_${{matrix.os}} ${{matrix.platform}}
      id: build
      run: |
        docker run -v ${PWD}:/app --workdir /app --platform ${{matrix.platform}} ubuntu:${{matrix.os}} \
          bash /app/script/libc.sh \
              ${{github.event.inputs.version}} \
              '' \
              1 \
              libc_${{github.event.inputs.version}}_ubuntu_${{matrix.os}}_amd64.tar.gz
      shell: bash

    - name: Cache files
      id: restore-build
      uses: actions/cache@v3
      with:
        path: ./libc_${{github.event.inputs.version}}_ubuntu_${{matrix.os}}_amd64.tar.gz
        key: ${{github.sha}}-${{matrix.os}}

  release:
    needs: [build]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/cache@v3
      with:
        path: ./libc_${{github.event.inputs.version}}_ubuntu_18.04_amd64.tar.gz
        key: ${{github.sha}}-18.04

    - name: Upload
      uses: actions/upload-artifact@v6
      with:
        name: libc_${{github.event.inputs.version}}_ubuntu_18.04
        path: ./libc_${{github.event.inputs.version}}_ubuntu_18.04_amd64.tar.gz
        retention-days: 1

